<h1>Login</h1>

<table>
  <thead>
    <h3>Please select a user to login as</h3>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
    <tr onclick="window.location='<%= Routes.user_path(@conn, :login_user, user) %>'">
      <td><%= user.name %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Create New User", to: Routes.user_path(@conn, :new) %></span>
