.quiz-img {
  width: 100px;
}

tr:hover { 
   background: lightyellow; 
   cursor: pointer;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  padding:5px;
  font-size: 14px;
  margin: 10px;
}

input[type='radio'] {   
    margin: 5px;
 }

.radio-submit {
   margin-top: 10px;
}

