<h1>Quizzes</h1>

<table>
  <tbody>
<%= for quiz <- @quizzes do %>
  <tr onclick="">
      <td><img class="quiz-img" src="<%= quiz.image_url %>"</td>
      <td><%= quiz.title %></td>
      <td><%= quiz.description %></td>
    </tr>
<% end %>
  </tbody>
</table>
