<h1><%= @question.text %></h1>

<%= form_for @conn, Routes.quiz_path(@conn, :submit_answer), fn f -> %>
  <div class="radio-container">
<%= for choice <- @question.choices do %>
    <label class="radio-label" for="answer_<%= choice.text %>">
      <%= radio_button f, :answer, choice.text, class: "radio-input" %>
      <%= choice.text %> 
    </label>
<% end %>
  </div>
  <%= submit "Submit", class: "radio-submit" %>
<% end %>
