<h1>Show Quiz</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @quiz.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @quiz.description %>
  </li>

  <li>
    <strong>Image url:</strong>
    <%= @quiz.image_url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.quiz_path(@conn, :edit, @quiz) %></span>
<span><%= link "Back", to: Routes.quiz_path(@conn, :index) %></span>
